@import"https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", "Microsoft JhengHei", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
    
}

body {
    background: #CAB0FE url(../images/bg.webp) center center no-repeat;
    background-size: cover;
    font-size: 62.5%;
}

.wrap {
    width: 100%;
    padding-top: 8%;
}

.container {
    text-align: center;
}


/*------------ 標題 START -------------*/
/*------------ 標題 START -------------*/

#game-container {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 20px auto;
}

#grid div {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.finish {
  background-color: lightgreen;
}

.select {
  background-color: lightblue;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
}


/*------------ 標題 END -------------*/
/*------------ 標題 END -------------*/


