@import"https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", "Microsoft JhengHei", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
    padding: 0;
}

body {
  font-size: 62.5%;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  background: url('../images/bg_game.webp') no-repeat center bottom;
  background-color: #F6B859;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

#game-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, #cf9030, transparent);
  height: 80px;
}
.rule-btn {
  background: url('../images/btn_rule.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 60px;
  padding-bottom: 20%;
  margin: 0 0.5em;
}
.rank-btn {
  background: url('../images/btn_rank.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 60px;
  padding-bottom: 20%;
  margin: 0 0.5em;
}
.fetch-location-btn {
  background: url('../images/btn_boss.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 60px;
  padding-bottom: 20%;
  margin: 0 0.5em;
}

#game-container {
  width: 100%;
}

/*------------ 卡片區域 START -------------*/
/*------------ 卡片區域 START -------------*/
#game-container #countdown {
  font-size: 22px;
  color: #fff;
  text-align: center;
  background-color: #ff4d4d;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-area {
  padding-top: 40px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#game-area .title {
  width: 200px;
  margin: 5vw 0 2em;
}
.team-info {
  font-size: 1rem;
  background-color: #F3E8DB;
  border-radius: 8px;
  padding: 0.5em 1.2em;
  color: #40220F;
}
#grid-box {
  position: relative;
  margin: 2rem auto;
}
#grid {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(3, 110px);
  gap: 12px;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  color: #40220F;
  border: 2px solid #9B1E24;
  background-color: #FFF9F1;
  text-align: center;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  transition: background-color 0.3s;
  position: relative;
}
.grid-item:after {
  content: '';
  display: block;
  z-index: -2;
  background-color: #9B1E24;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -5px;
  bottom: -5px;
}
.grid-item.finish {
  background-color: #ffc5a1;
}
.grid-item.finish:before {
  content: '';
  display: block;
  z-index: 1;
  background-image: url('../images/icon_peanut.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  opacity: 0.4;
}

@media (max-width: 375px) {
  #grid-box {
    margin: 1rem auto;
  }
  #grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 6px;
  }
  .grid-item {
    font-size: 0.75rem;
  }
}


#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#line.viewonly {
  pointer-events: none;
}
#line.viewonly .line-item+label {
 display: none;
}
#line.viewonly .line-item.active+label {
 display: block;
}
.line-item {
  display: none;
}
.line-item+label {
  background-color: rgb(255 255 255 / 50%);
  border: 2px dashed #9B1E24;
  display: block;
  border-radius: 100px;
  position: absolute;
  z-index: 2;
}
.line-item.active+label,
.line-item:checked.active+label {
  background-color: #9B1E24;
  border: 1px solid #ec5960;
  z-index: 4;
}
.line-item:disabled+label {
  display: none;
  z-index: 1;
}
.line-item:checked+label {
  background-color: #29B286;
  border: 1px solid #4ffcc5;
  z-index: 3;
}
.line-item[id^="h"]+label {
  width: 110%;
  height: 20px;
  left: -5%;
}
.line-item[id="h1"]+label {
  top: calc( (100% / 3) *1 - 70px);
}
.line-item[id="h2"]+label {
  top: calc( (100% / 3) *2 - 70px);
}
.line-item[id="h3"]+label {
  top: calc( (100% / 3) *3 - 70px);
}
.line-item[id^="v"]+label {
  width: 20px;
  height: 110%;
  top: -5%;
}
.line-item[id="v1"]+label {
  left: calc( (100% / 3) *1 - 70px);
}
.line-item[id="v2"]+label {
  left: calc( (100% / 3) *2 - 70px);
}
.line-item[id="v3"]+label {
  left: calc( (100% / 3) *3 - 70px);
}
.line-item[id="s1"]+label {
  width: 20px;
  height: 150%;
  left: 50%;
  top: 50%;
  transform: rotate(-45deg) translateX(-50%) translateY(-50%);
  transform-origin: 0 0;
}
.line-item[id="s2"]+label {
  width: 20px;
  height: 150%;
  left: 50%;
  top: 50%;
  transform: rotate(45deg) translateX(-50%) translateY(-50%);
  transform-origin: 0 0;
}


.edit-line-btn {
  background: url('../images/btn_edit-line.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 150px;
  padding-bottom: 17%;
}

.action-line {
  display: none;
  justify-content: center;
  align-items: center;
}
.submit-line-btn {
  background: url('../images/btn_submit-line.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 150px;
  padding-bottom: 17%;
  margin: 0 0.5em;
}
.cancel-line-btn {
  background: url('../images/btn_cancel.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 150px;
  padding-bottom: 17%;
  margin: 0 0.5em;
}
/*------------ 卡片區域 END -------------*/
/*------------ 卡片區域 END -------------*/


/*------------ 跑馬燈 START -------------*/
/*------------ 跑馬燈 START -------------*/

    /* 跑馬燈容器樣式 */
    .carousel {
        width: 100%;  /* 容器寬度 */
        overflow: hidden;  /* 隱藏超出的部分 */
        position: relative;
        margin: 0 auto;
    }

    /* 圖片滾動區域樣式 */
    .carousel-images {
        display: flex;
        white-space: nowrap;
    }

    .carousel-images.fromRight {
        animation: carouselScrollFromRight 8s linear infinite alternate; /* 設置滾動動畫 */
    }

    .carousel-images.fromLeft {
        animation: carouselScrollFromLeft 8s linear infinite alternate; /* 設置滾動動畫 */
    }

    /* 單張圖片樣式 */
    .carousel-images img {
        width: 200%;  /* 設置圖片寬度以適應容器 */
        max-width: 200%;
        margin-right: 8%;
    }

    /* 滾動動畫 */
    @keyframes carouselScrollFromRight {
        0% {
            transform: translateX(0);  /* 從初始位置開始 */
        }
        100% {
            transform: translateX(-100%);  /* 滾動到整個寬度 */
        }
    }
    @keyframes carouselScrollFromLeft {
        0% {
            transform: translateX(-100%);  /* 從初始位置開始 */
        }
        100% {
            transform: translateX(0);  /* 滾動到整個寬度 */
        }
    }
/*------------ 跑馬燈 END -------------*/
/*------------ 跑馬燈 END -------------*/


/*------------ 登入 START -------------*/
/*------------ 登入 START -------------*/
#start-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../images/bg_game.webp') no-repeat center bottom;
  background-color: #ed8d4b;
  background-size: cover;
  background-attachment: fixed;
  z-index: 3;
}
#start-area .title {
  width: 90%;
  margin: -5em 0 2em;
}
.start-btn {
  background: url('../images/btn_start.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 300px;
  padding-bottom: 22%;
  margin: 3em 0;
  animation: zoom 1s linear infinite alternate;
}
@keyframes zoom {
    0% {
        transform: scale(1.1);
        filter: brightness(1.2);
    }
    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}

#login-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
}
#login-area h2 {
  font-size: 25px;
  margin-bottom: 1em;
  color: #5a3804;
}
.login-btn {
  background: url('../images/btn_start.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 300px;
  padding-bottom: 22%;
  margin: 0 0.5em;
}
/*------------ 登入 END -------------*/
/*------------ 登入 END -------------*/


/*------------ Boss START -------------*/
/*------------ Boss START -------------*/
#set-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 2em;
}
#boss-container #countdown {
  font-size: 22px;
  color: #fff;
  text-align: center;
  background-color: #ff4d4d;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#winner-form {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 40px 2em 3em;
}
#set-time h2,
#winner-form h2,
#winner-result h2 {
  font-size: 25px;
  margin-bottom: 1em;
  color: #5a3804;
  text-align: center;
}
.time-btn {
  background: url('../images/btn_time.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 200px;
  padding-bottom: 17%;
  margin: 1em 0 0 0;
}
.winner-btn {
  background: url('../images/btn_submit-winner.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 200px;
  padding-bottom: 17%;
  margin: 1em 0 0 0;
}
.select-win-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.team-line-item {
  display: none;
}
.team-line-item+label {
  display: block;
  width: 100%;
  background-color: rgb(243 232 219 / 80%);
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 0.5em 2em;
  border: 8px solid transparent;
}
.team-line-item+label p {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
.team-line-item+label img {
  width: 80px;
}
.team-line-item:checked+label {
  border: 8px solid #d87508;
}
/*------------ Boss END -------------*/
/*------------ Boss END -------------*/



/*------------ POPUP START -------------*/
/*------------ POPUP START -------------*/
.popup{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 20;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: none;
}
/*使視窗置中*/
.popup:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.popup-content {
  max-width: 90%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 3;
  padding: 0;
  margin: 30px auto;
  width: 560px;
  position: relative;
  color: #40220F;
}
.pop-close {
  background-image: url('../images/img_close.svg');
  background-position: center bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 8%;
  padding-bottom: 8%;
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 5;
  cursor: pointer;
}
.pop-close:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.popup-rule .popup-content {
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.popup-rule .bg {
  width: 100%;
}
.popup-rule .rule-text {
  position: absolute;
  width: 83%;
  height: 52%;
  left: 5%;
  top: 30%;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
}
.popup-rule .rule-text ol {
  margin-left: 1em;
  text-align: left;
  font-size: 4.5vw;
}

.popup-rank .popup-content {
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.popup-rank .bg {
  width: 100%;
}
.popup-rank .rank-text {
  position: absolute;
  width: 90%;
  height: 50%;
  left: 5%;
  top: 29%;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
}
.popup-rank .rank-text ol {
  list-style-type: none;
}
.popup-rank .rank-text li {
  text-align: left;
  font-size: 22px;
  background: rgba(255,255,255,0.35);
  margin-bottom: 10px;
  padding: 0.5em;
  border-radius: 8px;
}
.popup-rank .rank-text li b {
  font-weight: bold;
  background: rgb(245 200 41);
  padding: 0.2em 0.8em;
  margin-right: 0.3em;
  font-size: 16px;
  border-radius: 3px;
}
.popup-rank .rank-text li:nth-child(1) {
  background-color: #fff6e9;
}
.popup-rank .rank-empty {
  font-size: 20px;
  color: #c7903c;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-loading {
  background: transparent;
}
.popup-loading .popup-content {
  color: #ffe4ba;
  font-size: 18px;
  background: rgb(74 50 7 / 75%);
  width: auto;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  display: inline-flex;
}
.popup-loading img {
  width: 30px;
  margin-right: 10px;
}

.popup-comfirm .popup-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 2em;
}
.popup-comfirm .popup-content .msg {
  font-size: 18px;
  font-weight: bold;
  padding: 2em 0;
}
.popup-comfirm .button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-comfirm .cancel-btn {
  background: url('../images/btn_cancel.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 150px;
  padding-bottom: 17%;
  margin: 0 0.5em;
}
.popup-comfirm .comfirm-btn {
  background: url('../images/btn_comfirm.webp') no-repeat center center;
  background-size: 100%;
  border: none;
  display: block;
  width: 150px;
  padding-bottom: 17%;
  margin: 0 0.5em;
}


.form-control {
    margin-bottom: 15px;
}
.form-control .form-title {
    margin-bottom: 5px;
    display: block;
}
.form-control .form-title span {
    font-size: 0.75em;
}

input[type="text"], input[type="number"] {
    background-color: #fff3e0;
    border: 3px solid #C36844;
    border-radius: 100px;
    height: 65px;
    width: 100%;
    padding: 0 20px;
    font-size: 20px;
    margin-bottom: 1em;
    font-weight: bold;
    color: #5f1a1d;
}
textarea {
    background-color: #F8F2F9;
    border: 1px solid #B395BA;
    border-radius: 5px;
    height: 130px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    border: 1px solid transparent;
    outline: 3px solid #ffe94a;
}
/*------------ POPUP END -------------*/
/*------------ POPUP END -------------*/




